:root{
    --background-color: #00030C;
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --button-color: #167BF7;
}

body{
    background-color : var(--background-color);
    color: var(--branco-principal);
}

*{
    margin:0;
    padding: 0;
}

.principal{
    background-image: url("/assets/Background.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.container{
    height: 100vh;
}